<!-- <app-floating-configurator /> -->
<p-toast></p-toast>

<div class="mesh-bg z-0"></div>

<div class="relative dark:bg-surface-900 z-10 flex items-center justify-center min-h-screen w-screen">
    <div class="flex flex-col items-center justify-center">
        <div class="rounded-[56px] p-[0.3rem]"
            style="background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%)">
            <div class="w-full bg-white dark:bg-surface-900 py-20 px-8 sm:px-20 rounded-[53px]">
                <div class="text-center mb-8">
                    <div class="text-surface-900 dark:text-white text-3xl font-medium mb-4">Create Your Account</div>
                    <span class="text-muted-color dark:text-surface-300 font-medium">It only takes a minute to
                        register</span>
                </div>

                <form (ngSubmit)="register()" class="p-fluid">



                    <label for="username"
                        class="block text-surface-900 dark:text-white text-xl font-medium mb-2">Username</label>
                    <input pInputText id="username" type="text" [(ngModel)]="registerModel.userName" name="username"
                        class="w-full md:w-[30rem] mb-5" placeholder="Choose a username" />

                    <label for="email"
                        class="block text-surface-900 dark:text-white text-xl font-medium mb-2">Email</label>
                    <input pInputText id="email" type="email" [(ngModel)]="registerModel.email" name="email"
                        class="w-full md:w-[30rem] mb-5" placeholder="Email address" />

                    <label for="phone" class="block text-surface-900 dark:text-white text-xl font-medium mb-2">Phone
                        Number</label>
                    <input pInputText id="phone" type="tel" [(ngModel)]="registerModel.phoneNumber" name="phone"
                        class="w-full md:w-[30rem] mb-5" placeholder="Phone Number" />

                    <label for="password"
                        class="block text-surface-900 dark:text-white text-xl font-medium mb-2">Password</label>
                    <p-password id="password" [(ngModel)]="registerModel.password" name="password"
                        placeholder="Password" [toggleMask]="true" [feedback]="false" class="mb-5"
                        inputStyleClass="w-full" styleClass="w-full"></p-password>

                    <label for="confirmPassword"
                        class="block text-surface-900 dark:text-white text-xl font-medium mb-2">Confirm Password</label>
                    <p-password id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword"
                        placeholder="Confirm Password" [toggleMask]="true" [feedback]="false" class="mb-6"
                        inputStyleClass="w-full" styleClass="w-full"></p-password>

                    <div *ngIf="userRoles == 'PLT_Admin'">
                        <div class="flex items-center mb-5 mt-1">
                            <p-checkbox name="IsTeacher" inputId="IsTeacher" [(ngModel)]="registerModel.isTeacher"
                                binary="true" class="mr-2">
                            </p-checkbox>
                            <label for="IsTeacher" class="text-surface-900 dark:text-white text-xl font-medium mb-2">
                                Is Teacher
                            </label>
                        </div>
                    </div>
                    <div class="text-center mt-6">

                        <p-button label="Register" styleClass="w-full" type="submit"></p-button>
                    </div>
                    <div class="text-center mt-6">
                        <a routerLink="/auth/login" class="font-medium text-primary">Back to login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>