<div class="justify-center p-4">
 <p-card class="w-full md:w-7/12 lg:w-6/12 shadow-lg rounded-2xl overflow-hidden">
    <div class="mt-4 flex justify-between items-center">
      <h2 class="text-2xl font-bold text-primary-600 flex-1 text-right">
        {{ videoName.replace('.mp4', '') }}
      </h2>
    </div>

   <div class="video-container mt-4 rounded-2xl overflow-hidden">
  <ng-container *ngIf="videoUrl; else loading">
    <video
      #plyrVideo
      class="custom-video-player"
      controls
      controlsList="nodownload"
    >
      <source [src]="videoUrl" type="video/mp4" />
      متصفحك لا يدعم تشغيل الفيديو.
    </video>
  </ng-container>

  <ng-template #loading>
    <div class="flex justify-center items-center min-h-[300px] text-gray-400">
      جاري تحميل الفيديو...
    </div>
  </ng-template>
</div>

  </p-card>
</div>
