.video-container {
  position: relative;
  width: 100%;
  margin: auto;
  background: #000;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

video {
  width: 100%;
  height: auto;
  max-height: none;
  object-fit: contain;
  aspect-ratio: 16/9;
}

.custom-video-player {
  width: 100%;
  border-radius: 1.5rem; // أكبر تقوس
  background-color: #000;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

/* لمنع كليك يمين على الفيديو */
video::-internal-media-controls-download-button {
  display: none;
}

video::-webkit-media-controls-enclosure {
  overflow: hidden;
}

video::-webkit-media-controls-panel {
  background-color: #1e293b !important;
  border-radius: 1rem;
}

video {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  pointer-events: auto;
}
