<div class="layout-topbar flex flex-col lg:flex-row items-start lg:items-center justify-between gap-2 rtl px-4 py-2 min-h-[85px] lg:min-h-[60px]">



    <!-- Breadcrumb -->
    <div class="order-2 lg:order-1 w-full lg:w-auto  whitespace-normal">
        <app-breadcrumb></app-breadcrumb>
    </div>

    <!-- Icons -->
    <div class="order-1 lg:order-2 flex justify-end items-center gap-3 w-full lg:w-auto">

        <!-- المود والستايل -->
        <div class="layout-config-menu flex items-center gap-2">
            <button type="button" class="layout-topbar-action relative" (click)="toggleDarkMode()">
                <i
                    [ngClass]="{ 'pi ': true, 'pi-moon': layoutService.isDarkTheme(), 'pi-sun': !layoutService.isDarkTheme() }"></i>
            </button>
            <div class="relative">
                <button class="layout-topbar-action layout-topbar-action-highlight" pStyleClass="@next"
                    enterFromClass="hidden" enterActiveClass="animate-scalein" leaveToClass="hidden"
                    leaveActiveClass="animate-fadeout" [hideOnOutsideClick]="true">
                    <i class="pi pi-palette"></i>
                </button>
                <app-configurator />
            </div>
        </div>

        <!-- الإشعارات والبروفايل -->
        <div class="flex items-center gap-3">
            <button type="button" class="layout-topbar-action notification-button"
                (click)="toggleNotifications($event)">
                <i class="pi pi-bell"></i>
                <span class="custom-badge" *ngIf="notificationCount > 0">{{ notificationCount }}</span>
            </button>

            <div class="profile-dropdown">
                <button type="button" class="layout-topbar-action profile-btn">
                    <i class="pi pi-user"></i>
                    <span>حساب</span>
                </button>

                <div class="dropdown-menu">
                    <a routerLink="/profile" class="dropdown-item">
                        <i class="pi pi-user"></i>
                        <span>حساب</span>
                    </a>
                    <a (click)="logout()" class="dropdown-item">
                        <i class="pi pi-sign-out"></i>
                        <span>خروج</span>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>


<p-toast></p-toast>

<div *ngIf="showMessages" class="messages-modal" #messagesModal>
    <div *ngFor="let msg of messages" class="message-item">
        {{ msg }}
    </div>
</div>