<div class="card">

    <p-button *ngIf="roles | includesRole :['Teacher']" [routerLink]="['/pages/createNewChapter']" label="إضافة فصل" icon="pi pi-plus" class="add-chapter-btn" />
    <div class="filters-container">
        <p-floatlabel variant="on" class="filter-item">
            <input style="width: 100%;" pInputText id="taskName" [(ngModel)]="Filter.chapterName"
                (ngModelChange)="onFilterChange()" autocomplete="off" />
            <label for="taskName" style="font-size: large;">
                <p-inputicon class="pi pi-search" /> اسم الفصل
            </label>
        </p-floatlabel>

        <p-floatlabel *ngIf="roles | includesRole :['Teacher']" class="w-full md:w-56 filter-item" variant="on">
            <p-dropdown [(ngModel)]="Filter.academicLevelId" inputId="academicLevel" [options]="academicLevelData"
                optionLabel="academicLevelName" optionValue="academicLevelID" styleClass="w-full"
                (ngModelChange)="onFilterChange()">
            </p-dropdown>
            <label style="font-size: large;" for="academicLevel">المرحلة الدراسية</label>
        </p-floatlabel>
    </div>
</div>
<ng-container [ngSwitch]="subject">
<div *ngSwitchCase="1" >
        <div *ngIf="roles | includesRole :['Physics_Teacher','Physics_Student','PLT_Admin']"  class="h-[100%]">
            <div class="flex flex-wrap justify-center gap-8">
                <div *ngFor="let chapter of Chapters" pAnimateOnScroll (click)="saveInSessionStorage(chapter.chapterID)"
                    enterClass="animate-enter fade-in-10 slide-in-from-t-20 animate-duration-1000"
                    leaveClass="animate-leave fade-out-0"
                    class="flex flex-col border border-primary-200 shadow-xl justify-center items-center max-w-lg rounded-3xl p-12 gap-6 cursor-pointer"
                    [routerLink]="['/pages/teachers/videos-and-tasks']">

                    <img [src]="'assets/Chapters/Chapter.jpeg'" alt="{{ chapter.chapterName }} "
                        class="w-56 h-56 rounded-full object-cover border-4 border-primary dark:border-primary-400" />

                    <span class="text-3xl font-semibold text-gray-900 dark:text-white">
                        {{ chapter.chapterName }}
                    </span>

                    <span class="text-primary-600 text-xl font-semibold dark:text-primary-400">
                        {{getChapterAcademyLevel(chapter.academicLevelId)}}
                    </span>
                </div>
            </div>
        </div>
</div>

<div  *ngSwitchCase="2">
        <div *ngIf="roles | includesRole :['Chemistry_Teacher','Chemistry_Student','PLT_Admin']" class="h-[100%]">
            <div class="flex flex-wrap justify-center gap-8">
                <div *ngFor="let chapter of Chapters" pAnimateOnScroll (click)="saveInSessionStorage(chapter.chapterID)"
                    enterClass="animate-enter fade-in-10 slide-in-from-t-20 animate-duration-1000"
                    leaveClass="animate-leave fade-out-0"
                    class="flex flex-col border border-primary-200 shadow-xl justify-center items-center max-w-lg rounded-3xl p-12 gap-6 cursor-pointer"
                    [routerLink]="['/pages/teachers/videos-and-tasks']">

                    <img [src]="'assets/Chapters/Chapter.jpeg'" alt="{{ chapter.chapterName }} "
                        class="w-56 h-56 rounded-full object-cover border-4 border-primary dark:border-primary-400" />

                    <span class="text-3xl font-semibold text-gray-900 dark:text-white">
                        {{ chapter.chapterName }}
                    </span>

                    <span class="text-primary-600 text-xl font-semibold dark:text-primary-400">
                        {{getChapterAcademyLevel(chapter.academicLevelId)}}
                    </span>
                </div>
            </div>
        </div>
    </div>
<div *ngSwitchCase="3">
        <div class="h-[100%]">
            <div class="flex flex-wrap justify-center gap-8">
                <div *ngFor="let chapter of Chapters" pAnimateOnScroll (click)="saveInSessionStorage(chapter.chapterID)"
                    enterClass="animate-enter fade-in-10 slide-in-from-t-20 animate-duration-1000"
                    leaveClass="animate-leave fade-out-0"
                    class="flex flex-col border border-primary-200 shadow-xl justify-center items-center max-w-lg rounded-3xl p-12 gap-6 cursor-pointer"
                    [routerLink]="['/pages/teachers/videos-and-tasks']">

                    <img [src]="'assets/Chapters/Chapter.jpeg'" alt="{{ chapter.chapterName }} "
                        class="w-56 h-56 rounded-full object-cover border-4 border-primary dark:border-primary-400" />

                    <span class="text-3xl font-semibold text-gray-900 dark:text-white">
                        {{ chapter.chapterName }}
                    </span>

                    <span class="text-primary-600 text-xl font-semibold dark:text-primary-400">
                        {{getChapterAcademyLevel(chapter.academicLevelId)}}
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div *ngSwitchCase="4">
        <div class="h-[100%]">
            <div class="flex flex-wrap justify-center gap-8">
                <div *ngFor="let chapter of Chapters" pAnimateOnScroll (click)="saveInSessionStorage(chapter.chapterID)"
                    enterClass="animate-enter fade-in-10 slide-in-from-t-20 animate-duration-1000"
                    leaveClass="animate-leave fade-out-0"
                    class="flex flex-col border border-primary-200 shadow-xl justify-center items-center max-w-lg rounded-3xl p-12 gap-6 cursor-pointer"
                    [routerLink]="['/pages/teachers/videos-and-tasks']">

                    <img [src]="'assets/Chapters/Chapter.jpeg'" alt="{{ chapter.chapterName }} "
                        class="w-56 h-56 rounded-full object-cover border-4 border-primary dark:border-primary-400" />

                    <span class="text-3xl font-semibold text-gray-900 dark:text-white">
                        {{ chapter.chapterName }}
                    </span>

                    <span class="text-primary-600 text-xl font-semibold dark:text-primary-400">
                        {{getChapterAcademyLevel(chapter.academicLevelId)}}
                    </span>
                </div>
            </div>
        </div>
    </div>
 <div *ngSwitchCase="5">
        <div class="h-[100%]">
            <div class="flex flex-wrap justify-center gap-8">
                <div *ngFor="let chapter of Chapters" pAnimateOnScroll (click)="saveInSessionStorage(chapter.chapterID)"
                    enterClass="animate-enter fade-in-10 slide-in-from-t-20 animate-duration-1000"
                    leaveClass="animate-leave fade-out-0"
                    class="flex flex-col border border-primary-200 shadow-xl justify-center items-center max-w-lg rounded-3xl p-12 gap-6 cursor-pointer"
                    [routerLink]="['/pages/teachers/videos-and-tasks']">

                    <img [src]="'assets/Chapters/Chapter.jpeg'" alt="{{ chapter.chapterName }} "
                        class="w-56 h-56 rounded-full object-cover border-4 border-primary dark:border-primary-400" />

                    <span class="text-3xl font-semibold text-gray-900 dark:text-white">
                        {{ chapter.chapterName }}
                    </span>

                    <span class="text-primary-600 text-xl font-semibold dark:text-primary-400">
                        {{getChapterAcademyLevel(chapter.academicLevelId)}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</ng-container>