
.filters-container {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem; 
}

.filter-item {
    flex: 1;
}

.CheckBox {
    padding-bottom: 20px;
    font-size: large;
    display: flex;
    // justify-content: flex-end; 
}