/* You can add global styles to this file, and also import other style files */
@use './tailwind.css';
@use './assets/layout/layout.scss';
@use 'primeicons/primeicons.css';
@use './assets/demo/demo.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* In your styles.scss */

/* Light theme styles */
body.light-theme .messages-modal {
    background-color: white;  /* Light background */
    border: 1px solid #ccc;
}

body.light-theme .message-item {
    color: black;
    background-color: #fff;
}

/* Dark theme styles */
body.dark-theme .messages-modal {
    background-color: #333;  /* Dark background */
    border: 1px solid #444;
}

body.dark-theme .message-item {
    color: white;
    background-color: #444;
}

/* Add more specific styles for your notification dropdown or other elements */
