<div class="card">
    <p-dataview #dv [value]="videosData" [layout]="'grid'">
        <ng-template #header>
            <div class="filters-container">
                <p-floatlabel variant="on" class="filter-item">
                    <input style="width: 100%;" pInputText id="VideoName" [(ngModel)]="Filter.videoName"(ngModelChange)="onFilterChange()"
                     autocomplete="off" />
                    <label for="VideoName" style="font-size: large;"> <p-inputicon Class="pi pi-search" />
                        اسم الفديو</label>
                </p-floatlabel>

                <p-floatlabel class="w-full md:w-56 filter-item" variant="on">
                    <p-dropdown [(ngModel)]="Filter.academicLevelId" inputId="academicLevel"
                        [options]="academicLevelData" optionLabel="academicLevelName" optionValue="academicLevelID"
                        styleClass="w-full" (ngModelChange)="onFilterChange()">
                    </p-dropdown>
                    <label style="font-size: large;" for="academicLevel">المرحلة الدراسية</label>
                </p-floatlabel>
            </div>
        </ng-template>

        <ng-template #grid let-items>
            <div class="grid grid-cols-12 gap-4">
                <div *ngFor="let video of videosData" class="col-span-12 sm:col-span-6 md:col-span-4 xl:col-span-6 p-2">
                    <div
                        class="p-6 border border-surface-200 dark:border-surface-700 bg-surface-0 dark:bg-surface-900 rounded flex flex-col">
                        <div class="bg-surface-50 flex justify-center rounded p-4">
                            <div class="relative mx-auto">
                                <img class="rounded w-full" [src]="'assets/File/Videos3.png'" [alt]="'img not fount'"
                                    style="max-width: 300px" />

                            </div>
                        </div>
                        <div class="pt-6">
                            <div class="flex flex-row justify-between products-start gap-2">
                                <div>
                                    <span
                                        class="font-medium text-surface-500 dark:text-surface-400 text-sm">video</span>
                                    <div class="text-lg font-medium mt-1">{{ video?.videoName?.replace('.mp4', '') }}</div>
                                </div>

                            </div>
                            <div class="flex flex-col gap-6 mt-6">
                                <div class="flex gap-2">
                                    <button pButton icon="pi pi-video" label="Watch"
                                       (click)="viewVideo(video.videoName)" class="flex-auto whitespace-nowrap"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataview>
</div>
